@import 'font.css';

body {
    font-family: 'Open Sans';
}

.logo {
    width: 150px;
    height: 80px;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

.menu-bar {
    background: #fff;
    color: #212121;
    padding: 20px 0;
}

.menu__item {
    margin-left: 37px;
    font-family: 'Open Sans Semibold';
}

.menu__item a {
    font-size: 20px;
    color: #212121;
}

.menu__item a:hover {
    text-decoration: none;
    color: #cecece;
}

.header {
    background-image: url('../img/header.png');
    padding: 180px 0;
    text-align: center;
    color: #fff;
    background-size: cover;
    background-position: 0 100%;
}

.header__title {
    font-size: 55px;
}

.header__text {
    font-size: 20px;
    margin-bottom: 100px;
}

.button {
    padding: 10px 25px;
    margin: 0 10px;
    color: #fff;
    transition: 0.3s;
    background: #00897b;
    border: 2px solid #00897b;
}

.button_empty {
    background: transparent;
    border: 2px solid white;
}

.button:hover {
    background: transparent;
    border: 2px solid white;
}

/* .button_empty:hover,
.button_full:hover {
    border: 2px dotted #fff;
    background: #0f574f;
} */

.about {
    color: black;
    background: white;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 125px;
}

.about__title {
    font-size: 30px;
    font-weight: bold;
}

.about__text {
    color: #212121;
    font-size: 15px;
    margin-bottom: 70px;
}

.about__h3 {
    margin: 30px;
    margin-top: 20px;
    font-family: 'Open Sans Semibold';
    font-size: 20px;
}

.services {
    color: black;
    background: #e4fdf9;
    text-align: center;
    padding-top: 165px;
    padding-bottom: 125px;
}

.our_card {
    padding: 50px 35px 40px;
    background: white;
    transition: 0.3s;
    margin-bottom: 30px;
}

.icon {
    color: black;
    font-size: 60px;   
}

.button-services {
    border: 1px solid black;
    background: transparent;
    padding: 14px 12px 14px;
    font-family: 'Open Sans Semibold';
    transition: 0.3s;
}

.our_card:hover {
    background: #00897b;
    color: white;
    box-shadow: 0px 0px 22px -1px rgba(0,0,0,0.75);
}

.our_card:hover .button-services {
    color: white;
    transition: 0.3s;
    border: 1px solid white;
}

.our_card:hover .icon {
    color: white;
    transition: 0.3s;
}

.portfolio {
    padding-top: 120px;
    padding-bottom: 135px;
    text-align: center;
}

.portfolio button:hover, .focused {
    color: black;
    border: 2px solid #00897b;
    background: transparent;
}

.portfolio img {
    margin-bottom: 30px;

}

.filter {
    padding: 120px 0;
}

div[filter]:hover img {
    filter: brightness(50%);
    transition: 0.3s;
}

.text {
    display: none;
}

div[filter]:hover .text {
    display: block;
    width: 100%;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 0;
    z-index: 3;
    text-align: center;
}