@import 'font.css';

body {
    background-color: grey;
    font-family: 'Open Sans Semibold';
}

.logo {
    width: 150px;
    height: 80px;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

.menu-bar {
    background: #fff;
    color: #212121;
    padding: 20px 0;
}

.menu__item {
    margin-left: 37px;
}

.menu__item a {
    font-size: 20px;
    color: #212121;
}

.menu__item a:hover {
    text-decoration: none;
    color: #cecece;
}

.header > div {
    background-image: url('../img/header.png');
    padding: 180px 0;
    text-align: center;
    color: #fff;
    background-size: cover;
    background-position: 0 100%;
}

.header__title {
    font-size: 55px;
}

.header__text {
    font-size: 20px;
    margin-bottom: 100px;
}

.button {
    padding: 10px 25px;
    margin: 0 10px;
    color: #fff;
    transition: 0.3s;
}

.button_empty {
    background: transparent;
    border: 2px solid white;
}

.button_full {
    background: #00897b;
    border: 2px solid #00897b;
}